/*
 * @Author: mateng
 * @Date: 2019-03-27 10:46:08
 * @Last Modified by: mateng
 * @Last Modified time: 2019-03-27 11:04:34
 * @功能: 动画
 * @简介:
 * @RAP:
 */
.animated
  animation-duration 1s
  animation-fill-mode both

@keyframes slideInUp
  from
    -webkit-transform translate3d(0, 100%, 0)
    transform translate3d(0, 100%, 0)
    visibility visible

  to
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

@keyframes slideInUp
  from
    -webkit-transform translate3d(0, 100%, 0)
    transform translate3d(0, 100%, 0)
    visibility visible

  to
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

.slideInUp
  -webkit-animation-name slideInUp
  animation-name slideInUp

@keyframes slideOutDown
  from
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

  to
    visibility hidden
    -webkit-transform translate3d(0, 100%, 0)
    transform translate3d(0, 100%, 0)

@keyframes slideOutDown
  from
    -webkit-transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

  to
    visibility hidden
    -webkit-transform translate3d(0, 100%, 0)
    transform translate3d(0, 100%, 0)

.slideOutDown
  -webkit-animation-name slideOutDown
  animation-name slideOutDown
