/*
 * @Author: tfq
 * @Date: 2019-03-14 13:35:56
 * @Last Modified by: tfq
 * @Last Modified time: 2019-03-20 13:55:03
 * @功能: 标签图片
 * @简介:
 * @RAP:
 */
.icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  background-repeat: no-repeat;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-right: 5px;
  }
}

// 店铺 =======
// 保障
.icon-shop-baozhang {
  width: 14px;
  height: 16px;
  background-image: url('/static/images/shop/icon_baozhang.png');
}

// 商品 =======
.icon-gift {
  width: 14px;
  height: 17px;
  background-image: url('/static/images/icon/icon_gift.png');
}

.icon-seckill {
  width: 14px;
  height: 17px;
  background-image: url('/static/images/icon/icon_seckill.png');
}
