/*
 * @Author: dingzhiqiang
 * @Date: 2018-07-09 15:43:48
 * @Last Modified by: tufengqun
 * @Last Modified time: 2020-04-14 21:48:44
 * @功能:
 * @简介: 样式变量存放处，原则上当一个数值被多个组件依赖时，才应放到这里
 * @RAP:
 */
font-size-default = 14px
line-height-default = 1.5
layout-width = 1090px
/* color */
color-blue = #2691FF
color-red = #FF0021
color-theme = color-blue
/* font */
font-primary-color = #252F3F
font-secondary-color = #A4B0BC
font-gray-color = #606266
