box-hover()
  box-shadow 0 13px 20px 0 rgba(0, 0, 0, 0.05)
  transition-duration 0.3s
  transition-property box-shadow, transform

  &:hover
    box-shadow 0 13px 20px 0 rgba(0, 0, 0, 0.1)
    transform translate3d(0, -1.5px, 0)
