label()
  position relative
  border 1px solid color-blue !important

  &:after
    position absolute
    top 0
    right 0
    width 25px
    height 25px
    content ''
    background url('~_STYL_/images/label.png') no-repeat